body {
    background-color:#5489a0;
    
    font-family: arial;
}

#selNumHeader {
    color:#fff;
    background-color:#dc5;
    padding:10px 20px;
    border-radius: 100px;
    text-shadow: 0px 0px 2px #000;
}

.colorSel {
    position: absolute;
    width:70px;
    height:70px;
    border-radius:100px;
    border: none;
    background-color:#000;
    margin:0px;
    top:50px;
}

#colorSel1 {
    background-color:#346980;
    left:25px;
}

#colorSel2 {
    background-color:#803469;
    left: 120px;
}

#colorSel3 {
    background-color:#bbbb88;
    left:215px;
}

#timeDisplay {
    position: absolute;
    right:50px;
    top:75px;
    font-size:25px;
    color:#fff;
}

.title {
    font-family: Helvetica;
    color: #222;
    margin:20px 0px;
    
    font-size:100px;
    text-align: center;
}

#info {
    width: 1100px;
    margin:0px auto;
    background-color:#222;
    background: -webkit-linear-gradient(#444, #222); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#444, #222); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#444, #222); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#444, #222); /* Standard syntax */
    border-radius: 10px;
    
    text-align: center;
}

#info .numberContainer {
    color:#aaa;
    font-size:100px;
}

#info #numbers1 {
    
}

#info #numbers2 {
    color:#fff;
    text-shadow: 0px 0px 7px #fff;
}

#info #numbers3 {
    
}


#box {
    background-color:#222;
    background: -webkit-linear-gradient(#444, #222); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#444, #222); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#444, #222); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#444, #222); /* Standard syntax */
    border-radius: 25px;
    padding: 50px 35px;
    width:1100px;
    height:250px;
    
    margin:50px auto;
}

#box #whiteKeyContainer {
    width:1080px;
    height:250px;
    margin:0px auto;
}

#box #whiteKeyContainer .whiteKey {
    float:right;
    background-color:#fff;
    float:left;
    width:104px;
    height:250px;
    margin:0px 2px;
    border-radius:15px;
    text-align: center;
    font-family: "Arial";
    font-size: 60px;;
    line-height: 250px;
    -webkit-box-shadow: 0px 10px 0px #aaa;
    box-shadow: 0px 10px 0px #aaa;
    
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#box #whiteKeyContainer .whiteKey:focus {
    background-color:#ddd;
}

